{% extends 'base.html.twig' %}
{% block title %}Check your email{% endblock %}

{% block body %}
<h1>Check your inbox</h1>
<p>An email with verification instructions has been persisted to <code>var/emails</code>. Open the file and visit the link to verify your account.</p>
{% endblock %}